<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien" class="org.raghav.Alien" scope = "prototype">-->
<!--    </bean>-->

    <bean id="alien" class="org.raghav.Alien" autowire="byType">
        <property name="age" value="21"/>
        <property name="com" ref="com"/>
    </bean>

    <bean id="com" class="org.raghav.Laptop" primary="true">
    </bean>

    <bean id="com1" class="org.raghav.Desktop" lazy-init="true">
<!--        So in the above line I am saying lazy-init = true which mean only create the object for desktop when I try to get the the object-->
    </bean>

    <!--    <bean id="com" class="org.raghav.Desktop">-->
    <!--    </bean>-->

<!--        <property name="age" value="21"></property> -> this is used for setter injection-->
<!--        <constructor-arg type="org.raghav.Laptop" ref="laptop"/>-->

<!--        <constructor-arg type="int" value = "21"/>-->


<!--        <constructor-arg index="1" ref="laptop"/>-->
<!--        <constructor-arg index="0" value="21"/>-->

<!--        <property name="lap" ref="laptop"/>-->

    <!--        <constructor-arg name="age" value="21"/>-->
    <!--        <constructor-arg name="com" ref="laptop"/>-->

</beans>